body{
    display: flex;
justify-content: center;
align-items: center;
height: 100vh;
overflow: hidden;
}
#boxes{
display: flex;
justify-content: center;
align-items: center;
  
    border: 1px;
    padding: 10px 10px;
    
    width: max-content;
   margin: 0 auto;
   background: #dde1e7;
   
   height: auto;


}
#box{
    background: #dde1e7;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px 10px;
}
.equal{
    grid-row: span 2;
    background-color: rgba(66, 63, 63, 0.801);
    border: 1px;
    border-radius: 10%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    font-size: 25px;
}

.button{
    background-color: white;
    border: 1px;
    font-size: 25px;
    border-radius: 20%;
    padding: 8px 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#display{
    font-size: 100%;
    border: none;
    outline: none;
    height:80px;
    font-size: 25px;
    width: max-content;
    overflow-x: scroll;
  
    border-radius: 1%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    
}
@media (max-width:768px) {
    #boxes{
display: grid;

}
body{
    padding: 10px 40px;
}
}
